* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #b73d3d;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.contenido-principal {
    flex: 3;
    padding: 20px;
}

.contenido-principal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.articulos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.articulo {
    background-color: #ffdd75;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.barra-lateral {
    flex: 1;
    background-color: #00aaff;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
